@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/monoton.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #000;
    color: #fff;
    margin: 0;
    min-height: 100vh;
    position: relative;
    }

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

.logo img{
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: auto;
}

.matrix-bg {
    position: fixed;
    top: 0;
    width: 80px;
    height: 100vh;
    z-index: 0;
    background: url('../img/matrix.png') repeat-y;
}
.matrix-bg-left {
    left: 0;
    height: 100vh;
    margin:auto 180px;
}
.matrix-bg-right {
    right: 0;
    transform: scaleX(-1);
    padding: 0;
}

.sidebar-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 120px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: transparent;
    z-index: 2;
    padding-top: 40px;
    padding-left: 90px;
}
.sidebar-left img {
    width: 80px;
    height: auto;
    display: block;
    padding: 40px;
}

.main-content {
    margin-left: 300px;
    margin-right: 80px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    width: 55rem;
}

.main-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.main-title {
    font-size: 2.8em;
    color: #39ff14;
    letter-spacing: 0.15em;
    text-shadow: 0 0 8px #39ff14, 0 0 2px #fff;
    border-bottom: 2px solid #39ff14;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.game-section {
    background: #111;
    border: 3px solid #39ff14;
    border-radius: 12px;
    margin-bottom: 32px;
    padding: 0;
    box-shadow: 0 0 16px #39ff1444;
    position: relative;
    display: flex;
    flex-direction: column;
}

.game-header {
    background-color: #39ff14;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    height: 70px;
}

.game-title {
    font-size: 1.7em;
    color: white;
    letter-spacing: 0.25em;
    margin-bottom: 10px;
    text-align: left;
    text-shadow: 0 0 6px #39ff14;
}
.game-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    padding: 30px;
}
.game-text {
    flex: 2;
    font-size: 1.08em;
    line-height: 1.6;
}
.game-text strong {
    color: #ffe600;
}
.game-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-image img {
    max-width: 180px;
    border: 2px solid #39ff14;
    border-radius: 8px;
    background: #222;
    box-shadow: 0 0 8px #39ff1488;
}

.game-image.izquierda {
    order: -1; 
}

